<div class="card">
    <h1 class="card-title">Recuperar Contraseña</h1>
    <form action="/api/sessions/forgot-password" method="post">
        <label for="email">Correo Electrónico:
            <input type="email" id="email" name="email" required>
        </label>
        <button class="btn" type="submit">Enviar Correo de Recuperación</button>
    </form>
</div>
