<div class="card">
    <h1 class="card-title">Formulario de Login</h1>
    <form action="/api/sessions/login" method="post">
        <label for="email">Correo Electrónico:
            <input type="email" id="email" name="email" required>
        </label>
        <label for="password">Contraseña:
            <input type="password" id="password" name="password" required>
        </label>
        <button class="btn" type="submit">Iniciar Sesión</button>
    </form>
    <div class="auth-links">
        <a class="btn btn-outline" href="/api/sessions/github-login">Iniciar sesión con GitHub</a>
        <a class="btn btn-outline" href="/api/sessions/google">Iniciar sesión con Google</a>
    </div>
</div>
