<div class="card">
    <h1 class="card-title">Perfil de Usuario</h1>
    <div class="profile-info">
        <p><strong>Bienvenido</strong> {{userData.first_name}}!!!</p>
        <p><strong>Email:</strong> {{userData.email}}</p>
        <p><strong>Rol:</strong> {{userData.role}}</p>
    </div>
</div>
