<div class="card">
    <h1 class="card-title">Restablecer Contraseña</h1>
    <form action="/api/sessions/reset-password/{{token}}" method="post">
        <label for="password">Nueva Contraseña:
            <input type="password" id="password" name="password" required minlength="10">
        </label>
        <button class="btn" type="submit">Restablecer</button>
    </form>
</div>
